In [1]:
# import libraries
import pandas as pd

from statsmodels.tsa.arima.model import ARIMA
from sklearn.metrics import mean_squared_error
from math import sqrt
from statsmodels.tsa.arima.model import ARIMA

import warnings
from math import sqrt

In [2]:
#!/usr/bin/env /Applications/MAMP/Library/bin/python

import mysql.connector

config = {
  'user': 'root',
  'password': 'root',
  'host': '127.0.0.1',
  'port': 8889,
  'database': 'ecotourisme',
  'raise_on_warnings': True
}

cnx = mysql.connector.connect(**config)

cursor = cnx.cursor(dictionary=True)

cursor.execute('SELECT * FROM `ecologie` where id_pays = "US"')
results = cursor.fetchall()
cnx.close()

data1 = pd.DataFrame(results)

data = data1

data = data.sort_values(by='annee', ascending=True) 
data.head()

     id id_pays  annee        co2          ges  elecRenew  GES_hab
0   198      US   1990  4844517.4  5855541.470  10.917163  23.7677
1   409      US   1991  4807496.5  5810376.768  10.741865  23.5844
2   620      US   1992  4879626.1  5894661.485   9.729862  23.9265
3   831      US   1993  4995209.5  6006008.717  10.270782  24.3784
4  1042      US   1994  5066803.0  6100512.901   9.532383  24.7620

In [3]:
data = data.set_index('annee')
series = data[['elecRenew']]

Recherche des bons parametre ARIMA(p,d,q)

In [8]:
X = series.values

In [5]:
# évaluer un modèle ARIMA pour un ordre donné (p,d,q)
def evaluate_arima_model(X, arima_order):
	# préparer l'ensemble de données d'entraînement et de test
	train_size = int(len(X) * 0.8)
	train, test = X[0:train_size], X[train_size:]
	history = [x for x in train]
	# faire des predictions
	predictions = list()

# Dans la boucle for, pour chaque point dans l'ensemble de test, 
# nous ajustons le modèle ARIMA sur l'historique, faisons une prévision, 
# l'ajoutons à la liste des prédictions, puis ajoutons la vraie valeur observée à l'historique.

	for t in range(len(test)):
		model = ARIMA(history, order=arima_order)
		model_fit = model.fit()
		yhat = model_fit.forecast()[0]
		predictions.append(yhat)
		history.append(test[t])
	# calculer l'erreur quadratique moyenne 
	rmse = sqrt(mean_squared_error(test, predictions))
	return rmse

# évalue les combinaisons de valeurs p, d et q pour un modèle ARIMA
def evaluate_models(dataset, p_values, d_values, q_values):
	dataset = dataset.astype('float32')
	best_score, best_cfg = float("inf"), None
	for p in p_values:
		for d in d_values:
			for q in q_values:
				order = (p,d,q)
				try:
					rmse = evaluate_arima_model(dataset, order)
					if rmse < best_score:
						best_score, best_cfg = rmse, order
					print('ARIMA%s RMSE=%.3f' % (order,rmse))
				except:
					continue
	print('Best ARIMA%s RMSE=%.3f' % (best_cfg, best_score))

#  ces lignes définissent les valeurs de p, d et q à tester.
p_values = [0, 1, 2, 4, 6, 8, 10]
d_values = range(0, 3)
q_values = range(0, 3)
warnings.filterwarnings("ignore")
evaluate_models(series.values, p_values, d_values, q_values)

ARIMA(0, 0, 0) RMSE=6.264
ARIMA(0, 0, 1) RMSE=3.731
ARIMA(0, 0, 2) RMSE=3.062
ARIMA(0, 1, 0) RMSE=1.341
ARIMA(0, 1, 1) RMSE=1.376
ARIMA(0, 1, 2) RMSE=1.430
ARIMA(0, 2, 0) RMSE=1.136
ARIMA(0, 2, 1) RMSE=1.000
ARIMA(0, 2, 2) RMSE=0.962
ARIMA(1, 0, 0) RMSE=1.591
ARIMA(1, 0, 1) RMSE=1.597
ARIMA(1, 0, 2) RMSE=1.646
ARIMA(1, 1, 0) RMSE=1.386
ARIMA(1, 1, 1) RMSE=1.201
ARIMA(1, 1, 2) RMSE=1.423
ARIMA(1, 2, 0) RMSE=1.203
ARIMA(1, 2, 1) RMSE=0.991
ARIMA(1, 2, 2) RMSE=0.949
ARIMA(2, 0, 0) RMSE=1.600
ARIMA(2, 0, 1) RMSE=1.610
ARIMA(2, 0, 2) RMSE=1.714
ARIMA(2, 1, 0) RMSE=1.344
ARIMA(2, 1, 1) RMSE=1.181
ARIMA(2, 1, 2) RMSE=1.364
ARIMA(2, 2, 0) RMSE=0.992
ARIMA(2, 2, 1) RMSE=1.025
ARIMA(2, 2, 2) RMSE=1.185
ARIMA(4, 0, 0) RMSE=1.485
ARIMA(4, 0, 1) RMSE=1.528
ARIMA(4, 0, 2) RMSE=1.559
ARIMA(4, 1, 0) RMSE=1.219
ARIMA(4, 1, 1) RMSE=1.250
ARIMA(4, 1, 2) RMSE=1.391
ARIMA(4, 2, 0) RMSE=1.009
ARIMA(4, 2, 1) RMSE=0.999
ARIMA(4, 2, 2) RMSE=0.896
ARIMA(6, 0, 0) RMSE=1.572
ARIMA(6, 0, 1) RMSE=1.577
ARIMA(6, 0, 2) RMSE=1.525
ARIMA(6, 1, 0) RMSE=1.240
ARIMA(6, 1, 1) RMSE=1.146
ARIMA(6, 1, 2) RMSE=1.037
ARIMA(6, 2, 0) RMSE=1.133
ARIMA(6, 2, 1) RMSE=1.163
ARIMA(6, 2, 2) RMSE=0.956
ARIMA(8, 0, 0) RMSE=1.693
ARIMA(8, 0, 1) RMSE=1.644
ARIMA(8, 0, 2) RMSE=1.648
ARIMA(8, 1, 0) RMSE=1.355
ARIMA(8, 1, 1) RMSE=1.477
ARIMA(8, 1, 2) RMSE=1.445
ARIMA(8, 2, 0) RMSE=1.276
ARIMA(8, 2, 1) RMSE=1.216
ARIMA(8, 2, 2) RMSE=1.090
ARIMA(10, 0, 0) RMSE=1.799
ARIMA(10, 0, 1) RMSE=1.514
ARIMA(10, 0, 2) RMSE=1.431
ARIMA(10, 1, 0) RMSE=1.033
ARIMA(10, 1, 1) RMSE=0.943
ARIMA(10, 1, 2) RMSE=1.159
ARIMA(10, 2, 0) RMSE=0.752
ARIMA(10, 2, 1) RMSE=0.792
ARIMA(10, 2, 2) RMSE=0.911
Best ARIMA(10, 2, 0) RMSE=0.752