# Calculs sur les consommations de carburant et leur rapport entre carrosserie ou type de carburant

In [1]:
import mysql.connector
import numpy as np
import pandas as pd
import scipy.stats as stats

In [2]:
# Connect to the database
cnx = mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='Ecotourisme'
)

# Check if the connection is successful
if cnx.is_connected():
    print('Connected to the database')
else:
    print('Failed to connect to the database')

Connected to the database

In [3]:
query = "SELECT COUNT(*) FROM `CARS` WHERE Energie LIKE 'SUPERETHANOL'"
cursor = cnx.cursor()
cursor.execute(query)
result = cursor.fetchall()
print(result)

[(2,)]

In [4]:
query = "SELECT `Carrosserie`,`Energie`,AVG(`CO2 vitesse mixte Min`/`Conso vitesse mixte Min`/10) AS `facteur emission min`,  AVG(`CO2 vitesse mixte Max`/`Conso vitesse mixte Max`/10) AS `facteur emission max`, AVG(`Conso elec Min`), AVG(`Conso elec Max`) FROM `cars` GROUP BY Carrosserie, Energie ORDER BY `cars`.`Carrosserie` ASC;"
cursor = cnx.cursor()
cursor.execute(query)
result = cursor.fetchall()
df = pd.DataFrame(result, columns=cursor.column_names)
df.pivot_table(index=['Carrosserie'], columns=['Energie'], values=['facteur emission min'], aggfunc=np.mean)

/var/folders/kw/gs_chyyn2bd3x3twksf8gdmr0000gn/T/ipykernel_21269/2251633683.py:6: FutureWarning: The provided callable <function mean at 0x103e5c310> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.pivot_table(index=['Carrosserie'], columns=['Energie'], values=['facteur emission min'], aggfunc=np.mean)

                    facteur emission min                              \
Energie                   ELEC+ESSENC HR ELEC+GAZOLE HR ESS+ELEC HNR
Carrosserie
BERLINE                         3.226923            2.9     2.490766
BREAK                           3.318421            2.9     2.519318
CABRIOLET                            NaN            NaN     2.483929
COMBISPACE                           NaN            NaN          NaN
COUPE                                NaN            NaN     2.494048
MINIBUS                              NaN            NaN          NaN
MINISPACE                            NaN            NaN     2.525000
MONOSPACE                            NaN            NaN     2.416667
MONOSPACE COMPACT                    NaN            NaN     2.660000
TS TERRAINS/CHEMINS             3.138462            4.2     2.469862

                                                                             \
Energie             ESS+G.P.L.   ESSENCE GAZ NAT.VEH GAZ+ELEC HNR    GAZOLE
Carrosserie
BERLINE               2.399333  2.492557        1.96     2.956818  2.947627
BREAK                 2.600000  2.498983        1.96     3.015476  2.974310
CABRIOLET                  NaN  2.440105         NaN     2.961667  3.016786
COMBISPACE            2.466667  2.395238         NaN          NaN  3.002927
COUPE                      NaN  2.393494         NaN     2.905000  2.991667
MINIBUS                    NaN       NaN         NaN     2.880000  2.833817
MINISPACE                  NaN       NaN         NaN          NaN  3.125000
MONOSPACE                  NaN       NaN         NaN          NaN  2.812024
MONOSPACE COMPACT     2.333333  2.411373         NaN          NaN  2.895500
TS TERRAINS/CHEMINS   2.431333  2.443288         NaN     2.886385  2.891489


Energie             SUPERETHANOL
Carrosserie
BERLINE                 1.642857
BREAK                        NaN
CABRIOLET                    NaN
COMBISPACE                   NaN
COUPE                        NaN
MINIBUS                      NaN
MINISPACE                    NaN
MONOSPACE                    NaN
MONOSPACE COMPACT            NaN
TS TERRAINS/CHEMINS     1.742857

In [6]:

# Define the ANOVA model formula
formula = 'facteur emission min ~ Energie'

# Create the ANOVA model
model = stats.ols(formula, data=df).fit()

# Perform the ANOVA
anova_table = stats.sm.stats.anova_lm(model)

# Print the ANOVA table
print(anova_table)

AttributeError: module 'scipy.stats' has no attribute 'ols'